[submodule "custom/plugins/alias-tips"]
	path = custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "custom/plugins/k"]
	path = custom/plugins/k
	url = https://github.com/supercrabtree/k
